.navegationShopping{
    height: 100vh;
    padding: 0px 10px;
    min-width: 90px;
    max-width: 90px;
}

.nav img{
    width:30px;
}

.nav-buttons{
    margin-top: 34vh;
}

.nav-buttons button{
    outline: none;
    background: none;
    padding: 0;
}


.cart-icon{
    background-color: rgb(211, 156, 4);
    border-radius: 50%;
    height: 50px;
    display: flex;
    margin-top:36vh;
    margin-bottom: 4vh;
}

